<img src="../public/assets/images/burger.png" alt= "Big Burger!"></img>

<h1 class="text">What have you done??!!</h1>

<div class="card">
  <div class="card-body">
    <div id="eaten">
    <h2 class="text">You ate these!</h2>

    <div class="card">
      <div class="card-body" id='card-body'>
        <ul class="list-group list-group-flush col-6 gap-2" id="ul">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
    <div id='notEaten'>
      <h2 class="text">What about these!?!</h2>

      <div class="card">
        <div class="card-body" id='card-body'>
          <ul class="list-group list-group-flush col-6 gap-2" id="ul">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" id="formCard">
  <h2 class="text">What burgers have you ate? ... ANSWER ME!!!</h2>


  <div class="body">
    <form class="create-form">

      <div class="form-group">
        <label for="ca">What's it called!?</label>
        <input type="text" id="burger" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Did you scarf it down?!</label>
      </div>

      <button class="add-Sql btn btn-danger" type="submit">You pig!</button>
    </form>
  </div>
</div>